<div class="training-banner">
    <div class="d-flex align-items-center m-2 py-4">
      <%= link_to "", pets_path(@pets), class: "nav-pet fa-solid fa-circle-chevron-left fa-xl text-decoration-none", style: "color: white" %>
      <h1 style= "font-size: 20px; margin: 0px 15px"><%= @pet.name.capitalize %>'s Training Plans</h1>
  </div>
  <i class="fa-solid fa-weight-scale"></i> Current Weight:
  <p class= "weight-text"><%= @pet.weight %> Kg</p>
</div>

<div data-controller="training">
	<div class="swiper-container training" style="margin-top:-40px; background: white; border-radius: 30px">
		<div class="swiper-wrapper">
      <% today_training = @training_data.where(date: Date.today).first %>
      <% today_index = @training_data.index(today_training) %>
      <% @training_data.rotate(today_index).each do |training| %>
      <div class="swiper-slide">
        <div class="training-slide d-flex flex-column align-items-center p-4" style="border-radius: 20px;">
          <p><strong><%= training.date.strftime("%A, %B %e, %Y") %></strong></p>
          <div class="training-card mx-2">
            <div class="training-card-body">
              <div class="d-flex justify-content-between mb-3">
                <p style="font-size: 22px"><strong><%= training.title.capitalize %></strong></p>
                <%= button_to mark_training_as_completed_path(pet_id: @pet.id, training_id: training.id), class: "btn switch-btn" do %>
                <div class="form-check form-switch">
                  <input class="form-check-input checkbox" type="checkbox" role="switch" id="flexSwitchCheck<%= training.id %>" <%= training.completed? ? "checked" : "" %> >
                  <label class="form-check-label" for="flexSwitchCheck<%= training.id %>">Done</label>
                </div>
                <% end %>
              </div>
              <div class="details-cards d-flex">
                <div class="details-card description"><i class="fa-solid fa-dumbbell"></i></i><p><%= training.description.capitalize %></p></div>
                <div class="details-card duration"><i class="fa-solid fa-clock"></i></i><p><%= training.duration %> minutes</p></div>
                <div class="details-card calories-burned"><i class="fa-solid fa-fire-flame-simple"></i><p><%= training.calories_burned %> calories burned</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
