<% if local_assigns[:veterinary] %>
  <div>
    <h6><%= veterinary.user.first_name %> <%= veterinary.user.last_name %></h6>
    <p><%= veterinary.user.address %></p>
    <%= link_to "View Profile", veterinary_path(veterinary.id), class: "orange-btn" %>
  </div>
<% elsif local_assigns[:user] %>
  <div>
    <h3>Your Location</h3>
    <p><%= user.address %></p>
  </div>
<% end %>
