<div class="service-container">
  <div class="service-banner w-100">
    <img src="<%= asset_path('pawprints.png') %>" alt="Service Image" class="banner-image w-100">
  </div>

  <div class="show-card py-4 px-4">
    <div class="d-flex justify-content-between m-2 py-4">
      <%= link_to "", request.referer, class: "nav-pet fa-solid fa-circle-chevron-left fa-xl text-decoration-none" %>
    </div>

    <div class="image-service d-flex justify-content-center">
      <%= image_tag 'undraw.png', width: 400, height: 300 %>
    </div>


    <div class="section-title mt-2">
      <div class="row">
        <h2><%= @service.name%></h2>
      </div>
      <div class="row">
        <p><%= @service.description %></p>
      </div>
      <% unless current_user.veterinary.present? %>
        <div class="mt-3">
          <%= link_to "Book an Appointment!", new_service_appointment_path(service_id: @service.id), class: "orange-btn" %>
        </div>
      <% end %>
    </div>

    <div class="related-services">
      <h3>Other Services from <%= @service.veterinary.user.first_name %></h3>
      <div class="vet-services-card">
        <% @service.veterinary.services.where.not(id: @service.id).each do |related_service| %>
          <div class="overlay my-2 p-2" style="border: 1px solid #ccc; border-radius: 10px;">
            <h4><%= link_to related_service.name, service_path(related_service), class:"text-decoration-none", style: "color: orange;" %></h4>
            <p>Category: <%= related_service.category %></p>
            <span>Fee: $<%= related_service.fee %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
