<div class="dashboard-banner">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center m-2 py-4">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag(current_user.photo.key, class: "user-avatar") %>
      <% else %>
        <%= image_tag("user-default-avatar.webp", class: "user-avatar") %>
      <% end %>
      <h1 style="font-size: 20px; margin: 0px 15px">Welcome, <%= current_user.first_name %></h1>
    </div>
    <i class="fa-regular fa-bell"></i>
  </div>
</div>

<% unless current_user.veterinary.present? %> <!-- if it's a normal user -->
  <div data-controller="dashboard">
    <div class="swiper-container dashboard" style="margin-top:-40px; background: white; border-radius: 30px">
      <div class="swiper-wrapper">
        <% unless @pets.empty? %> <!-- if he has at least one pet -->
          <% @pets.each do |pet| %>
            <div class="swiper-slide">
              <div class="paw">
                <h3 class="pet-data"><%= pet.name %></h3>
                <div class="pad">
                  <%= link_to pet_trainings_path(pet) do %>
                    <div class="toe toe-1">
                      <i class="fa-solid fa-dumbbell paw-icon" style="margin-top: 80px;"></i>
                      <p style="margin-top: 40px; color: black">Training</p>
                    </div>
                  <% end %>
                  <%= link_to pet_nutritions_path(pet) do %>
                    <div class="toe toe-2">
                      <i class="fa-solid fa-utensils paw-icon" style="margin-top: 80px;"></i>
                      <p style="margin-top: 40px; color: black">Nutrition</p>
                    </div>
                  <% end %>
                  <%= link_to appointments_path(pet) do %>
                    <div class="toe toe-3">
                      <i class="fa-solid fa-calendar-check paw-icon" style="margin-top: 80px;"></i>
                      <p style="margin-top: 40px; color: black">Appointments</p>
                    </div>
                  <% end %>
                  <%= link_to pet_path(pet) do %>
                    <%= cl_image_tag(pet.photo.key, class: "pad-img", alt: "pet-avatar") %>
                  <% end %>
                </div>
              </div>
            <div class="reminders-container my-5 mx-3 p-3">
              <div class="reminders">
                <h2>Reminders</h2>
                <% unless trainings_for_today?(pet)%> <!-- Training reminders -->
                  <div class="reminder-card">
                    <i class="fa-solid fa-dumbbell"></i>
                    <p>No trainings found!</p>
                    <%= link_to "Generate", pet_trainings_path(pet), class: "orange-btn" %>
                  </div>
                <% else %>
                  <% unless all_daily_trainings_completed?(pet) %>
                    <div class="reminder-card">
                    <i class="fa-solid fa-dumbbell"></i>
                      <div class="d-flex align-items-center">
                        <p>You still have to complete your training today!</p>
                        <%= link_to "Details", pet_trainings_path(pet), class: "white-btn" %>
                      </div>
                      </div>
                  <% else %>
                    <div class="reminder-card">
                      <i class="fa-solid fa-dumbbell"></i>
                      <p>Congrats! You already completed your training today</p>
                    </div>
                  <% end %>
                <% end %>
                <% unless meals_for_today?(pet) %> <!-- Nutrition reminders -->
                  <div class="specialist-card reminder-card">
                      <i class="fa-solid fa-utensils"></i>
                      <p>Nutrition plan not found!</p>
                      <%= link_to "Generate", pet_nutritions_path(pet), class: "orange-btn" %>
                    </div>
                <% else %>
                  <% unless all_daily_meals_completed?(pet) %>
                    <div class="reminder-card">
                    <i class="fa-solid fa-utensils"></i>
                    <div class="d-flex align-items-center">
                      <p>You still have to complete your meals today!</p>
                      <%= link_to "Details", pet_nutritions_path(pet), class: "white-btn" %>
                    </div>
                  </div>
                  <% else %>
                    <div class="reminder-card">
                      <i class="fa-solid fa-utensils"></i>
                      <p>Congrats! You already completed your meals today</p>
                    </div>
                  <% end %>
                <% end %>
                <% if weekly_appointments_upcoming?(pet) %> <!-- Appointments reminders -->
                  <div class="reminder-card">
                    <i class="fa-solid fa-calendar-check"></i>
                    <div class="d-flex">
                      <p>You have some upcoming appointments</p>
                      <%= link_to "Details", appointments_path(pet), class: "white-btn" %>
                    </div>
                  </div>
                <% else %>
                  <div class="reminder-card">
                    <i class="fa-solid fa-calendar-check"></i>
                    <p>You don't have any upcoming appointments</p>
                  </div>
                <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %> <!-- if he doesn't have any pet -->
          <div class="paw">
            <div class="pad">
              <div class="toe toe-1"></div>
              <div class="toe toe-2"></div>
              <div class="toe toe-3"></div>
              <a href="/pets/new" style="text-decoration: none;">
                <div class="empty-pad">
                  <i class="fa-solid fa-plus" style="color: white; font-size: 300%;"></i>
                </div>
              </a>
            </div>
            <p class="pet-data">Add your first pet!</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% else %> <!-- if it's veterinary -->
  <div class="veterinary-dashboard" style="margin-top:-40px; background: white; border-radius: 30px">
    <h1 style="font-size: 16px; padding: 40px 30px 0px 40px">Upcoming appointments</h1>
    <div class="container bg-light" style="padding-bottom: 100px">
      <% @appointments.each do |appointment| %>
        <div class="card text-bg-light mb-3" style="max-width: 18rem; margin: 30px auto;">
          <div class="card-header"><%= appointment.datetime %></div>
          <div class="card-body">
            <h5 class="card-title"><%= appointment.reason %></h5>
            <p class="card-text">For <%= appointment.pet.name %> (Owner is <%= appointment.pet.user.first_name %>)</p>
            <%= link_to "See details", appointment_path(appointment), class: "orange-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
