<div id="_top">
  <div class="px-2">
    <p class="fw-bold"><%= vaccination.vaccine.name %></p>
    <p> - Application date: <%= vaccination.date %></p>
    <p> - Comments: <%= vaccination.comments %></p>
  </div>

  <%= turbo_frame_tag :edit_vaccination %>
  <div class="d-flex justify-content-center">
    <%= link_to "Edit", edit_vaccination_path(vaccination), class: "pet-button text-decoration-none mx-2 px-3", data: {turbo_frame: :edit_vaccination} %>
    <%= link_to "Delete", vaccination_path(vaccination), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "pet-button text-decoration-none" %>
  </div>
  <hr>
</div>
