<div class="nutrition-banner">
    <div class="d-flex align-items-center m-2 py-4">
      <%= link_to "", pets_path(@pets), class: "nav-pet fa-solid fa-circle-chevron-left fa-xl text-decoration-none", style: "color: white" %>
      <h1 style= "font-size: 20px; margin: 0px 15px"><%= @pet.name.capitalize %>'s Nutrition Plans</h1>
  </div>
  <i class="fa-solid fa-weight-scale"></i> Current Weight:
  <p class= "weight-text"><%= @pet.weight %> Kg</p>
</div>

<div data-controller="nutrition">
	<div class="swiper-container nutrition", style="margin-top:-40px; background: white; border-radius: 30px">
		<div class="swiper-wrapper">
      <% today_meal = @nutrition_data.where(date: Date.today).first %>
      <% today_index = @nutrition_data.index(today_meal) %>
      <% @nutrition_data.rotate(today_index).each_slice(3) do |meals_slice| %>
      <div class="swiper-slide">
        <div class="meal-slide d-flex flex-column align-items-center p-4", style="border-radius: 20px;">
          <p><strong><%= meals_slice.first.date.strftime("%A, %B %e, %Y") %></strong></p>
          <% meals_slice.each_with_index do |meal, index| %>
            <div class="meal-card-<%= index %> mx-2">
              <div class="meal-card-body">
                <div class="d-flex justify-content-between mb-3">
                  <p style="font-size: 22px"><strong><%= meal.meal_type.capitalize %></strong></p>
                  <%= button_to mark_meal_as_completed_path(pet_id: @pet.id, nutrition_id: meal.id), class: "btn switch-btn" do %>
                    <div class="form-check form-switch">
                      <input class="form-check-input checkbox" type="checkbox" role="switch" id="flexSwitchCheck<%= meal.id %>" <%= meal.completed? ? "checked" : "" %> >
                      <label class="form-check-label" for="flexSwitchCheck<%= meal.id %>">Done</label>
                    </div>
                  <% end %>
                </div>
                  <div class="details-cards d-flex">
                      <div class="details-card food-items"><i class="fa-solid fa-utensils"></i><p><%= meal.food_items.capitalize %></p></div>
                      <div class="details-card notes"><i class="fa-regular fa-comment-dots"></i><p><%= meal.notes.capitalize %></p></div>
                      <div class="details-card calories"><i class="fa-solid fa-fire-flame-simple"></i><p><%= meal.calories %> calories</p></div>
                  </div>
              </div>
            </div>
            <% end %>
        </div>
      </div>
      <% end %>
		</div>
	</div>
</div>
