<div class="d-flex justify-content-between mx-4">
  <h1 class="pt-3">Pets</h1>
  <%= link_to '', new_pet_path, class: "pls fa-solid fa-circle-plus fa-xl text-decoration-none" %>
</div>

<div class="container">
  <div class="row">
    <% @pets.each do |pet| %>
    <div class="col-6">
      <div class="card my-2 shadow rounded-top">
        <%= cl_image_tag(pet.photo.key, class: "petimg rounded-top", alt: "pet-avatar") %>
        <h5 class="card-title px-3 pt-1"><%= pet.name %></h5>
        <p class="px-3"><%= pet.breed %></p>
        <%= link_to "Details", pet_path(pet), class: "petbutton text-decoration-none" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
