<div class="d-flex justify-content-between form3 pt-3">
  <h1 class="pt-3 mx-3">Pet's House </h1>
  <%= link_to "", new_pet_path, class: "pls fa-solid fa-circle-plus fa-xl text-decoration-none mx-3" %>
</div>
<div class="container form4 pt-4">
  <div class="row">
    <% @pets.each do |pet| %>
    <div class="col-6 mb-3 rounded-2">
      <div class="pet-card shadow">
        <%= link_to pet_path(pet) do %>
          <%= cl_image_tag(pet.photo.key, class: "pet-img", alt: "pet-avatar") %>
        <% end %>
        <h5 class="card-title px-3 pt-1"><%= pet.name %></h5>
        <p id="breed" class="pb-3"><%= pet.breed %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
