<div class="container">
  <div class="d-flex justify-content-between m-2 py-4">
    <%= link_to "", pets_path(@pets), class: "navpet fa-solid fa-circle-chevron-left fa-xl text-decoration-none" %>
    <%= link_to '', edit_pet_path, class: 'navpet mx-1 fa-solid fa-pen-to-square fa-xl text-decoration-none' %>
  </div>

    <%= cl_image_tag(@pet.photo.key, class: "petshow rounded-2", alt: "pet-avatar") %>
    <h2 class="mt-3 px-2 navpet"><%= @pet.name %></h2>

  <div class="rounded-top rounded-3 shadow mb-2">
    <ul class="nav nav-underline px-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active navpet" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" aria-current="page" href="#">Profile</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link navpet" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" href="">Vaccines</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link navpet" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" href="">Condition</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link navpet" id="allergie-tab" data-bs-toggle="tab" data-bs-target="#allergie-tab-pane" href="">Allergies</a>
      </li>
    </ul>

    <div class="tab-content p-3" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="p-2">Breed: <%= @pet.breed %></div>
        <div class="p-2">Birth date: <%= @pet.birthday_date %></div>
        <div class="p-2">Gender: <%= @pet.gender %></div>
        <div class="p-2">Weight: <%= @pet.weight %> kg</div>
        <div class="p-2">Height: <%= @pet.height %> cm</div>
        <div class="p-2">Color: <%= @pet.color %></div>
      </div>

      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <p>Applied vaccines</p>
      <ul>
        <% @applied_vaccines.each do |vaccine| %>
          <li><%= vaccine.name %></li>
        <% end %>
      </ul>
      <p>Non-applied vaccines</p>
      <ul>
        <% @non_applied_vaccines.each do |vaccine| %>
          <li><%= vaccine.name %></li>
        <% end %>
      </ul>
      </div>

      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
      <ul>
        <% @conditions.each do |condition| %>
          <li><%= condition.disease.name %></li>
          <li>Diagnosis date: <%= condition.diagnosis_date %></li>
          <li>Recovery date: <%= condition.recovery_date %></li>
          <li>Comments: <%= condition.comments %></li>
          <hr>
        <% end %>
      </ul>
      </div>

      <div class="tab-pane fade" id="allergie-tab-pane" role="tabpanel" aria-labelledby="allergie-tab" tabindex="0">
      <ul>
        <% @allergies.each do |allergie| %>
          <li><%= allergie.allergen.name %></li>
          <li>Detected on: <%= allergie.detected_on %></li>
          <li>Severity: <%= allergie.severity %></li>
          <li>Reactions: <%= allergie.reactions %></li>
          <li>Comments: <%= allergie.comments %></li>
          <hr>
        <% end %>
      </ul>
      </div>

      <div class="text-center align-text-bottom mt-5">
        <%= link_to 'Delete', pet_path(@pet), method: :delete,  data: { turbo_method: :delete, turbo_confirm: "Do you want to proceed?"}, class: 'petbutton text-decoration-none ps-2' %>
      </div>
    </div>
  </div>
</div>
