<div class="container">
  <div class="d-flex justify-content-between m-2 py-4">
    <%= link_to "", pets_path(@pets), class: "navpet fa-solid fa-circle-chevron-left fa-xl text-decoration-none" %>
    <%= link_to '', edit_pet_path, class: 'navpet mx-1 fa-solid fa-pen-to-square fa-xl text-decoration-none' %>
  </div>

    <%= cl_image_tag(@pet.photo.key, class: "petshow petimg", alt: "pet-avatar") %>
    <h2 class="mt-3 px-2 navpet"><%= @pet.name %></h2>

  <div class="rounded-top rounded-3 shadow mb-2">
    <ul class="nav nav-underline px-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active navpet" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" aria-current="page" href="#">Profile</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link navpet" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" href="">Vaccines</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link navpet" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" href="">Condition</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link navpet" id="allergie-tab" data-bs-toggle="tab" data-bs-target="#allergie-tab-pane" href="">Allergies</a>
      </li>
    </ul>

    <div class="tab-content p-3" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="p-2">Breed: <%= @pet.breed %></div>
        <div class="p-2">Birth date: <%= @pet.birthday_date %></div>
        <div class="p-2">Gender: <%= @pet.gender %></div>
        <div class="p-2">Weight: <%= @pet.weight %> kg</div>
        <div class="p-2">Height: <%= @pet.height %> cm</div>
        <div class="p-2">Color: <%= @pet.color %></div>
      </div>

      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="d-flex justify-content-between p-2">
            <p>Applied Vaccines</p>
            <%= link_to '', edit_pet_path, class: 'navpet mx-1 fa-solid fa-plus fa-lg text-decoration-none mt-2 pt-1' %>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            <% @applied_vaccines.each do |vaccine| %>
              <%= vaccine.name %>
            <% end %>
          </label>
        </div>
        <p class="pt-4 px-2">Missing Vaccines</p>
        <ul>
          <% @missing_vaccines.each do |vaccine| %>
          <li>
            <%= vaccine.name %>
          </li>
          <% end %>
        </ul>
      </div>

      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div class="d-flex justify-content-between p-2">
          <p>¿Any condition?</p>
          <%= link_to '', edit_pet_path, class: 'navpet mx-1 fa-solid fa-plus fa-lg text-decoration-none mt-2 pt-1' %>
        </div>
        <% @conditions.each do |condition| %>
        <div class="px-2">
          <p class="fw-bold"><%= condition.disease.name %></p>
          <p> - Diagnosis date: <%= condition.diagnosis_date %></p>
          <p> - Recovery date: <%= condition.recovery_date %></p>
          <p> - Comments: <%= condition.comments %></p>
        </div>
        <hr>
        <% end %>
      </div>

      <div class="tab-pane fade" id="allergie-tab-pane" role="tabpanel" aria-labelledby="allergie-tab" tabindex="0">
        <div class="d-flex justify-content-between p-2">
          <p>¿Any allergie?</p>
          <%= link_to '', edit_pet_path, class: 'navpet mx-1 fa-solid fa-plus fa-lg text-decoration-none mt-2 pt-1' %>
        </div>
        <% @allergies.each do |allergie| %>
        <div class="px-2">
          <p class="fw-bold"><%= allergie.allergen.name %></p>
          <p> - Detected on: <%= allergie.detected_on %></p>
          <p> - Severity: <%= allergie.severity %></p>
          <p> - Reactions: <%= allergie.reactions %></p>
          <p> - Comments: <%= allergie.comments %></p>
        </div>
        <hr>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center align-text-bottom mt-5">
    <%= link_to 'Delete Pet', pet_path(@pet), method: :delete,  data: { turbo_method: :delete, turbo_confirm: "Do you want to proceed?"}, class: 'petdelete text-decoration-none ps-2' %>
  </div>
</div>
