<div class="container mb-5">
  <div class="d-flex justify-content-between m-2 py-4">
    <%= link_to "", pets_path(@pets), class: "navpet fa-solid fa-circle-chevron-left fa-xl text-decoration-none" %>
    <%= link_to '', pets_path(@pets), method: :delete,  data: { turbo_method: :delete, turbo_confirm: "Do you want to proceed?"}, class: 'fa-solid fa-trash fa-lg navpet text-decoration-none' %>
  </div>

    <%= cl_image_tag(@pet.photo.key, class: "petshow", alt: "pet-avatar") %>
    <h2 class="mt-3 px-2 navpet"><%= @pet.name %></h2>
    <p class="px-2"><%= @pet.breed %></p>

  <div class="rounded-top rounded-3 shadow mb-2">
    <ul class="nav nav-underline px-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active navpet" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" aria-current="page" href="#">Profile</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link navpet" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" href="">Vaccines</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link navpet" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" href="">Condition</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link navpet" id="allergie-tab" data-bs-toggle="tab" data-bs-target="#allergie-tab-pane" href="">Allergies</a>
      </li>
    </ul>

    <div class="tab-content p-3" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="p-2">Birth date: <%= @pet.birthday_date %></div>
        <div class="p-2">Color: <%= @pet.color %></div>
        <div class="p-2">Gender: <%= @pet.gender %></div>
        <div class="p-2">Weight: <%= @pet.weight %> kg</div>
        <div class="p-2">Height: <%= @pet.height %> cm</div>

        <div class="d-flex justify-content-center">
          <%= link_to 'Edit', edit_pet_path, class: 'petbutton text-decoration-none px-3' %>
        </div>
      </div>

      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="d-flex justify-content-between pt-2 px-2">
          <p>Vaccines Schedule 💉</p>
          <%= link_to '', new_pet_vaccination_path(@pet), class: 'navpet mx-1 fa-solid fa-plus fa-lg text-decoration-none mt-2 pt-1', data: {turbo_frame:"new_vaccination"} %>
        </div>
        <%= turbo_frame_tag "new_vaccination" %>

        <%= turbo_frame_tag "vaccinations" do %>
          <%= render @vaccinations %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div class="d-flex justify-content-between p-2">
          <p>¿Any condition? 🩺</p>
          <%= link_to '', new_pet_condition_path(@pet), class: 'navpet mx-1 fa-solid fa-plus fa-lg text-decoration-none mt-2 pt-1', data: {turbo_frame:"new_condition"} %>
        </div>
        <%= turbo_frame_tag "new_condition" %>

        <%= turbo_frame_tag "conditions" do %>
          <%= render @conditions %>
        <% end %>
      </div>

      <div class="tab-pane fade" id="allergie-tab-pane" role="tabpanel" aria-labelledby="allergie-tab" tabindex="0">
        <div class="d-flex justify-content-between p-2">
          <p>¿Any allergy? 😷</p>
          <%= link_to '', new_pet_allergy_path(@pet), class: 'navpet mx-1 fa-solid fa-plus fa-lg text-decoration-none mt-2 pt-1', data: {turbo_frame:"new_allergy"} %>
        </div>
        <%= turbo_frame_tag "new_allergy" %>

        <%= turbo_frame_tag "allergies" do %>
          <%= render @allergies %>
        <% end %>
      </div>
    </div>
  </div>
</div>
