<% if user_signed_in? %>
  <div class="navigation" data-controller="navbar">
    <ul>
      <li class="list <%= 'active' if params[:controller] == 'dashboard'  %>" data-navbar-target="item">
        <%= link_to dashboard_path, data: { action: "navbar#activeLink" } do %>
          <span class="icon"><i class="fa-solid fa-house"></i></span>
          <span class="text">Home</span>
        <% end %>
      </li>

      <li class="list <%= 'active' if params[:controller] == 'veterinaries'  %>" data-navbar-target="item">
        <%= link_to veterinaries_path, data: { action: "navbar#activeLink" } do %>
          <span class="icon"><i class="fa-solid fa-stethoscope"></i></span>
          <span class="text">Services</span>
        <% end %>
      </li>

      <li class="list <%= 'active' if params[:controller] == 'pets'  %>" data-navbar-target="item">
        <%= link_to pets_path, data: { action: "navbar#activeLink" } do %>
          <span class="icon"><i class="fa-solid fa-paw"></i></span>
          <span class="text">Pets</span>
        <% end %>
      </li>

      <li class="list <%= 'active' if params[:controller] == 'users'  %>" data-navbar-target="item">
        <%= link_to profile_path, data: { action: "navbar#activeLink" } do %>
          <span class="icon"><i class="fas fa-user"></i></span>
          <span class="text">Profile</span>
        <% end %>
      </li>
      <div class="indicator"></div>
    </ul>
  </div>
<% else %>
<% end %>
