<nav class="navbar-bottom">
  <% if user_signed_in?%>
    <%= link_to "/dashboard", class: 'nav-link-bottom' do %>
    <i class="fas fa-home"></i>
    <span class="nav-text-bottom">Home</span>
    <% end %>

    <a href="/veterinaries" class="nav-link-bottom">
    <i class="fas fa-search"></i>
    <span class="nav-text-bottom">Search</span>
    </a>

    <%= link_to "/pets", class: 'nav-link-bottom' do %>
      <i class="fa-solid fa-paw"></i>
      <span class="nav-text-bottom">Pets</span>
    <% end %>

    <%= link_to "/profile", class: 'nav-link-bottom' do %>
      <i class="fas fa-user"></i>
      <span class="nav-text-bottom">Profile</span>
    <% end %>
  <% else %>
    <%= link_to "/", class: 'nav-link-bottom' do %>
    <i class="fas fa-home"></i>
    <span class="nav-text-bottom">Home</span>
    <% end %>
    <%= link_to "/users/sign_in", class: 'nav-link-bottom' do %>
      <i class="fas fa-sign-in-alt"></i>
      <span class="nav-text-bottom">Login</span>
    <% end %>
  <% end %>
</nav>
