<% unless user_signed_in? %>
<div class="carousel-container">
  <h1>The app supported with AI that helps you take care of your pets.</h1>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="gradient-overlay"></div>
        <%= image_tag "img1.jpg", class:"d-block w-100" %>
      </div>
      <div class="carousel-item">
        <div class="gradient-overlay"></div>
        <%= image_tag "img2.jpg", class:"d-block w-100" %>
      </div>
      <div class="carousel-item">
        <div class="gradient-overlay"></div>
        <%= image_tag "img3.jpg", class:"d-block w-100" %>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <p>Select an option and join our comunity to give our furry friends the best.</p>
  <div class="box">
    <div class="btn"><%= link_to "Pet Owner", pets_path(@pets), class: "orange-btn" %></div>
    <div class="btn"><%= link_to "Veterinary", pets_path(@pets), class: "orange-btn" %></div>
  </div>
</div>
<% else %>
  <%unless current_user.pets.empty? %>
    <div class="paw" style="width:400px; height:400px; margin-top: 30%;">
      <div class="pad">
        <%= link_to pet_trainings_path(current_user.pets.first) do%>
          <div class="toe toe-1">
            <i class="fa-solid fa-dumbbell paw-icon"></i>
          </div>
        <% end %>
        <%= link_to pet_nutritions_path(current_user.pets.first) do %>
          <div class="toe toe-2">
            <i class="fa-solid fa-bowl-food paw-icon"></i>
          </div>
        <% end %>
        <%= link_to appointments_path do %>
          <div class="toe toe-3">
            <i class="fa-solid fa-calendar-check paw-icon"></i>
          </div>
        <% end %>
        <%= link_to pet_path(current_user.pets.first) do%>
          <%= cl_image_tag(current_user.pets.first.photo.key, class: "pad-img", alt: "pet-avatar") %>
        <% end %>
      </div>
      <p class="pet-data"><%= current_user.pets.first.name %></p>
    </div>
  <% else %>
    <div class="paw" style="width:400px; height:400px; margin-top: 30%;">
      <div class="pad">
        <!-- <img src="pet_1.png" class="pad-img"> -->
        <div class="toe toe-1">
        </div>
        <div class="toe toe-2">
        </div>
        <div class="toe toe-3">
        </div>
        <a href="/pets/new" style="text-decoration: none;">
          <div class="empty-pad">
              <i class="fa-solid fa-plus" style="color: white; font-size: 300%;"></i>
          </div>
        </a>
      </div>
      <p class="pet-data">Add your first pet!</p>
    </div>
  <%end%>
<% end %>
