<div class="container">
  <div class="p-3">
    <%= link_to "", root_path, class: "navpet fa-solid fa-circle-chevron-left fa-xl text-decoration-none" %>
  </div>
  <div class="header">
    <div class="header-content">
      <div class="header-text">
        <h1>Lets Find a Specialist Doctor for Your Pet!</h1>
      </div>
      <div class="header-image">
        <img src="https://villagesquarevet.com/wp-content/uploads/2023/05/Pet-Vaccinations.jpg" alt="Veterinary">
      </div>
    </div>
  </div>

  <%= form_with url: services_path, method: :get, class: "d-flex align-items-center" do %>
    <%= text_field_tag :query, params[:query], class: "search-bar", placeholder: "Grooming, medical" %>
    <button type="submit" class="btn-search">
      <i class="fas fa-search"></i>
    </button>
  <% end %>

  <div class="services-section">
    <h2>Our Services</h2>
    <div class="services-list">
      <div class="service-item">
        <img src="https://meridianvetcare.com/wp-content/uploads/2022/08/Vaccine-Titer-Testing-for-Pets-img.jpg" alt="Vaccinations">
        <span>Vaccinations</span>
      </div>
      <div class="service-item">
        <img src="https://avsab.org/wp-content/uploads/2017/12/american-veterinary-society-of-animal-behavior-sing-up.jpg" alt="Behaviorals">
        <span>Behaviorals</span>
      </div>
      <div class="service-item">
        <img src="https://www.shanevet.com/files/marina_del_rey_vet/dental.jpg" alt="Dentistry">
        <span>Dental Care</span>
      </div>
      <div class="service-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ25M4lSJ7BH95BHpGxnPKZm7ZJ40y6OszdTg&s.jpg" alt="Dentistry">
        <span>Grooming</span>
      </div>
      <div class="service-item">
        <img src="https://pressbooks.umn.edu/app/uploads/sites/7/2019/10/14.png" alt="Dentistry">
        <span>Parasite Control</span>
      </div>
    </div>
  </div>

  <div class="specialists-section">
    <h2>Best Specialists Nearby</h2>
    <div class="specialist-card">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/008/957/225/small/female-doctor-avatar-clipart-icon-in-flat-design-vector.jpg" alt="Dr. Anna Johanson">
      <div class="specialist-info">
        <h3>Dra. Patricia Rodríguez</h3>
        <p>Veterinary Behavioral</p>
        <div class="rating-distance">
          <span>⭐ 4.8</span>
          <span>1 km</span>
        </div>
      </div>
    </div>
    <% @veterinaries.each do |veterinary| %>
      <%= link_to veterinary_path(veterinary), class: "specialist-card" do %>
        <img src="https://static.vecteezy.com/system/resources/previews/008/957/222/original/male-doctor-avatar-occupation-clipart-icon-in-flat-design-vector.jpg">
        <div class="specialist-info">
          <h3>Dr. <%= veterinary.user.first_name %> <%= veterinary.user.last_name %></h3>
          <p>Veterinary Behavioral</p>
          <div class="rating-distance">
            <span>⭐ 4.9</span>
            <span>2 km</span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
