<div id="_top">
  <div class="px-2">
    <p class="fw-bold">
      <%= allergy.allergen.name %>
    </p>
    <p> - Detected on: <%= allergy.detected_on %></p>
    <p> - Severity: <%= allergy.severity %></p>
    <p> - Reactions: <%= allergy.reactions %></p>
    <p> - Comments: <%= allergy.comments %></p>
  </div>

    <%#= turbo_frame_tag :edit_allergy, src: edit_allergy_path(allergy) %>
  <%= turbo_frame_tag :edit_allergy %>
  <div class="d-flex justify-content-center">
    <%= link_to "Edit", edit_allergy_path(allergy), class: "pet-button text-decoration-none mx-2 px-3", data: {turbo_frame: :edit_allergy} %>
    <%= link_to "Delete", allergy_path(allergy), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "pet-button text-decoration-none" %>
  </div>
  <hr>
</div>
