<div class="appointment-card">
  <div class="doctor-info">
    <% if current_user.veterinary.present? %>
      <% if appointment.pet.photo.attached? %>
        <%= image_tag appointment.pet.photo.variant(resize_to_fill: [60, 60]), class: "pet-pfp" %>
      <% end %>
      <div class="appointment-details">
        <p><strong><%= appointment.pet.user.first_name %> <%= appointment.pet.user.last_name %></strong></p>
        <p class="pet-name text-muted">
          <i class="fas fa-paw" style="color: #808080;"></i> <%= appointment.pet.name %>
        </p>
        <p class="datetime-location">
          <span class="datetime">
            <i class="fas fa-calendar-alt" style="color: #FE8D36;"></i>
            <%= appointment.datetime.strftime("%m.%d.%Y") %>
            <i class="far fa-clock" style="color: #FE8D36; margin-left: 8px;"></i>
            <%= appointment.datetime.strftime("%H:%M") %>
          </span>
        </p>
      </div>
    <% else %>
      <div class="appointment-status">
        <%= appointment.status %>
      </div>
      <img src="https://static.vecteezy.com/system/resources/previews/008/957/222/original/male-doctor-avatar-occupation-clipart-icon-in-flat-design-vector.jpg">
      <div class="appointment-details">
        <p class="doctor-name">Dr. <%= appointment.service.veterinary.user.first_name %> <%= appointment.service.veterinary.user.last_name %></p>
        <p class="datetime-location">
          <span class="location">
            <i class="fas fa-map-marker-alt"></i>
            <%= truncate(appointment.service.veterinary.user.address, length: 29, omission: '...') %>
          </span>
        </p>
        <span class="datetime">
          <i class="fas fa-calendar-alt" style="color: #FE8D36;"></i>
          <%= appointment.datetime.strftime("%m.%d.%Y") %>
          <i class="far fa-clock" style="color: #FE8D36; margin-left: 8px;"></i>
          <%= appointment.datetime.strftime("%H:%M") %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= link_to "Details", appointment_path(appointment), class: "btn-details" %>
  </div>
</div>
