<div class="scheduled-appointments-container">
  <h1 class="appointments-title">Your Appointments 🐾</h1>

  <div class="appointments-section">
    <h2 class="section-title">Upcoming</h2>
    <div class="appointments-grid">
      <% @upcoming_appointments.each do |appointment| %>
        <div class="appointment-card">
          <div class="doctor-info">
            <img src="https://static.vecteezy.com/system/resources/previews/008/957/222/original/male-doctor-avatar-occupation-clipart-icon-in-flat-design-vector.jpg" alt="Doctor Profile Picture">
            <div class="appointment-details">
              <p class="doctor-name"><%= appointment.service.veterinary.user.first_name %> <%= appointment.service.veterinary.user.last_name %></p>
              <p class="datetime-location">
                <span class="datetime">
                  <i class="fas fa-calendar-alt"></i>
                  <%= appointment.datetime.strftime("%B %d, %Y at %H:%M") %>
                </span>
                <span class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <%= appointment.service.veterinary.user.address %>
                </span>
              </p>
            </div>
          </div>
          <div class="actions">
            <%= link_to "Details", appointment_path(appointment), class: "btn btn-details" %>
            <%= button_to "Cancel", appointment_path(appointment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-cancel" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="appointments-section">
    <h2 class="section-title">Past</h2>
    <div class="appointments-grid">
      <% @past_appointments.each do |appointment| %>
        <div class="appointment-card">
          <div class="doctor-info">
            <img src="https://static.vecteezy.com/system/resources/previews/008/957/222/original/male-doctor-avatar-occupation-clipart-icon-in-flat-design-vector.jpg" alt="Doctor Profile Picture">
            <div class="appointment-details">
              <p class="doctor-name"><%= appointment.service.veterinary.user.first_name %> <%= appointment.service.veterinary.user.last_name %></p>
              <p class="datetime-location">
                <span class="datetime"><%= appointment.datetime.strftime("%B %d, %Y at %H:%M") %></span>
                <span class="location">
                  <i class="fas fa-map-marker-alt"></i>
                  <%= appointment.service.veterinary.user.address %>
                </span>
              </p>
            </div>
          </div>
          <div class="actions">
            <%= link_to "Details", appointment_path(appointment), class: "btn btn-details" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
