<div class="petnew container d-flex justify-content-center py-5">
  <div class="rounded-3 p-3 text-bg-light shadow p-3 mb-5 bg-body-tertiary rounded" style="color: black">
    <div class="m-3 text-center", style="color: black"><h2>Book an appointment</h2></div>
    <%= render 'calendar' %>
    <%= simple_form_for [@service, @appointment] do |f| %>
      <%= f.input :datetime, html5: true, input_html: { min: Time.now.strftime('%Y-%m-%dT%H:%M') }%>
      <%= f.input :reason, class: 'form-control' %>
      <%= f.input :comments, class: 'form-control' %>
      <%= f.input :pet_id, as: :select, collection: current_user.pets.map { |p| [p.name, p.id] }, include_blank: "Select a pet", class: 'form-select' %>
      <%= f.submit "Book", class: "btn btn-primary orange-btn" %>
    <% end %>
  </div>
</div>
