<div class="appointment-container mt-5">
  <div class="p-3">
    <%= link_to "", appointments_path, class: "nav-pet fa-solid fa-circle-chevron-left fa-xl text-decoration-none" %>
  </div>
  <div class="appointment-details">
    <h2><%= @appointment.reason %></h2>
    <p class="comments"><%= @appointment.comments %></p>
    <p class="location">
      <i class="fas fa-map-marker-alt"></i>
      <%= @appointment.service.veterinary.user.address %>
    </p>
    <% if current_user == @appointment.pet.user %>
      <p class="veterinary">
        <%= link_to "Dr. #{@appointment.service.veterinary.user.first_name} #{@appointment.service.veterinary.user.last_name}", veterinary_path(@appointment.service.veterinary), class: "text-decoration-none text-dark" %>
      </p>
    <% end%>
    <div class="datetime-appointment" id="<%= dom_id(@appointment) %>">
      <p class="appointment-date">
        <i class="fas fa-calendar-alt" style="color: #FE8D36;"></i>
        <%= @appointment.datetime.strftime("%m.%d.%Y") %>
      </p>
      <p class="appointment-time">
        <i class="far fa-clock" style="color: #FE8D36; margin-left: 8px;"></i>
        <%= @appointment.datetime.strftime("%H:%M") %>
      </p>
    </div>
    <div class="actions mt-4 d-flex justify-content-center">
      <% if current_user == @appointment.pet.user && @appointment.status == 'Scheduled' %>
      <%= button_to "Reschedule", appointment_path(@appointment), method: :get, class: "orange-btn mx-3", data: { action: "click->reschedule-form#openForm" } %>
        <%= button_to "Cancel", appointment_path(@appointment), method: :delete, data: { confirm: "Are you sure?" }, class: "orange-btn mx-3" %>
      <% elsif current_user.veterinary.present? %>
        <%= button_to "Mark as Completed", appointment_path(@appointment), method: :patch, params: { appointment: { status: 'Completed' } }, class: "orange-btn mx-2" %>
      <% end %>
    </div>
  </div>

  <%= turbo_frame_tag "reschedule-form" do %>
    <%= render "appointments/edit_form", appointment: @appointment %>
  <% end %>
</div>
