<div class= "container">
  <div class="p-3">
    <%= link_to "", appointments_path, class: "navpet fa-solid fa-circle-chevron-left fa-xl text-decoration-none" %>
  </div>
  <div class="mt-3">
    <h2><%= @appointment.reason %></h2>
    <p><%= @appointment.comments %></p>
    <p><%= @appointment.pet.name %></p>
    <%= link_to "#{@appointment.service.veterinary.user.first_name} #{@appointment.service.veterinary.user.last_name}", veterinary_path(@appointment.service.veterinary) %>
  </div>
</div>
